body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-color: #fff9d8;
  --bg-color: #182b25;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url(./fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Black";
  src: local("SourceSansPro"),
    url(./fonts/SourceSansPro-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./fonts/Montserrat-Regular.ttf) format("truetype");
}
